.fira-sans-normal {
    font-family: "Fira Sans", sans-serif;
    /* font-optical-sizing: auto; */
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}

* {
    margin: 0;
    padding: 0;
}

body {
    margin: 0 160px;
}

/* shared styles */
.btn-primary {
    padding: 17px 34px 17px 34px;
    border-radius: 8px;
    background: rgba(0, 106, 80, 1);
    border: none;
    font-size: 18px;
    font-weight: 500px;
    color: white;
}

.section-title {
    font-size: 40px;
    font-weight: bold;
}

.margin {
    margin-top: 80px;
}

.center {
    text-align: center;
}

/* nav styles */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 24px 0 24px 0;
}

.nav-title {
    font-size: 32px;
    font-weight: bold;

}

.btn {
    padding: 15px 30px;
    color: rgba(0, 106, 80, 1);
    font-size: 18px;
    font-weight: 600;
    box-sizing: border-box;
    border: 1px solid rgba(0, 106, 80, 1);
    border-radius: 8px;
}

/* hero styles */
.hero {
    display: flex;
    justify-content: space-between;
    gap: 64px;
    background-color: #C6E4D6;
    border-radius: 24px;
    padding: 80px 100px 80px 100px;
}

.hero-contant {
    max-width: 1280px;
}

.hero-contant .title {
    color: rgba(14, 14, 14, 0.5);
    font-size: 24px;
    font-weight: 500;
}

.hero-contant .description {
    color: rgba(14, 14, 14, 1);
    font-size: 56px;
    font-weight: 700;
    margin-top: 16px;
    margin-bottom: 24px;
}

.hero-img {
    width: 470px;
}

/* pillar styles */
.pillar-title {
    margin-bottom: 32px;
}

.Pillar-card-container {
    display: flex;
    gap: 24px;
}

.Pillar-card {
    box-sizing: border-box;
    border: 1px solid rgba(14, 14, 14, 0.15);
    border-radius: 16px;
    background: rgba(255, 255, 255, 1);
    padding: 24px;
}

.card-title {
    color: rgba(14, 14, 14, 0.8);
    margin-top: 24px;
    font-weight: bold;
    font-size: 20px;
}

.card-discription {
    margin-top: 12px;
    color: rgba(14, 14, 14, 0.7);
    font-size: 16px;
    font-weight: 400;
}

/* future styles */
.future-container {
    display: flex;
    justify-content: space-around;
    gap: 24px;
}

.future-dicription {
    margin: 24px 0 32px 0;
    color: rgba(14, 14, 14, 0.7);
    font-size: 16px;
    font-weight: 400;
}

.future-card {
    box-sizing: border-box;
    border-radius: 16px;
    background: rgba(84, 144, 245, 0.2);
    padding: 32px;
}

.future-card-title {
    margin: 24px 0 12px 0;
    color: rgba(14, 14, 14, 0.8);
    font-size: 20px;
    font-weight: 700;
}

.future-card-discription {
    margin-bottom: 24px;
    color: rgba(14, 14, 14, 0.7);
    font-size: 16px;
    font-weight: 400;
}

.yellow {
    background: rgba(247, 235, 207, 1);
}

.green {
    background: rgba(198, 228, 214, 1);
}

.btn-yellow {
    background: rgba(255, 194, 57, 1);
}

.btn-blue {
    background: rgba(84, 144, 245, 1);
}

/* challenge */
.challenge {
    margin-top: 32px;
    box-sizing: border-box;
    border: 1px solid rgba(14, 14, 14, 0.15);
    border-radius: 16px;
    background: rgba(255, 255, 255, 1);
    padding: 48px 24px 48px 24px;
}

.challenge-subtitle {
    background-image: url("../assets/quote-bg.png");
    background-repeat: no-repeat;
    background-position: left top;
    color: rgba(14, 14, 14, 0.8);
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 12px;
}

.challenge-title {
    margin-bottom: 4px;
    color: rgba(14, 14, 14, 0.8);
    font-size: 20px;
    font-weight: 600;
}

.challenge-description {
    color: rgba(14, 14, 14, 0.6);
    font-size: 16px;
    font-weight: 400;
}

/* news */
.news-discription {
    margin: 24px 0 32px 0;
    color: rgba(14, 14, 14, 0.7);
    font-size: 16px;
    font-weight: 400;
}

.news {
    display: flex;
    gap: 32px;
    border: 1px solid rgba(14, 14, 14, 0.15);
    padding: 48px;
    border-radius: 24px;
    box-sizing: border-box;
    background: rgba(255, 255, 255, 1);
    margin-bottom: 24px;
}

.new {
    display: flex;
    flex-direction: row-reverse;
    gap: 32px;
    border: 1px solid rgba(14, 14, 14, 0.15);
    padding: 48px;
    box-sizing: border-box;
    border-radius: 24px;
    margin-bottom: 24px;
    background: rgba(255, 255, 255, 1);
}

.news-img {
    width: 400px;
    border-radius: 24px;
}

.news-contant-title {
    margin-bottom: 12px;
    color: rgba(14, 14, 14, 0.8);
    font-size: 32px;
    font-weight: 700;
}

.span {
    padding-right: 10px;
    color: rgba(14, 14, 14, 0.7);
    font-size: 16px;
    font-weight: 400;
}

.news-contant-discription {
    color: rgba(14, 14, 14, 0.7);
    font-size: 16px;
    font-weight: 400;
    margin: 12px 0 32px 0;
}

/* donate */
.donate {
    color: rgba(14, 14, 14, 0.7);
    font-size: 16px;
    font-weight: 400;
    margin: 24px 0 32px 0;
}

.taka {
    display: flex;
    gap: 24px;
    justify-content: center;
    align-items: center;
}

.donet-taka {
    color: rgba(14, 14, 14, 0.8);
    font-size: 40px;
    font-weight: 700;
    padding: 40px;
    box-sizing: border-box;
    border: 1px solid rgba(14, 14, 14, 0.15);
    border-radius: 16px;
    background: rgba(255, 255, 255, 1);

}

.bg-green {
    background-color: #C6E4D6;
}

.donate-discription {
    margin: 32px 0 32px 0;
    color: rgba(14, 14, 14, 0.3);
    font-size: 20px;
    font-weight: 400;
    box-sizing: border-box;
    border: 1px solid rgba(14, 14, 14, 0.15);
    border-radius: 16px;
    background: rgba(255, 255, 255, 1);
    padding: 20px 40px 20px 40px;
}